.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9;
  display: none;
}

.overlay.open {
  display: block;
}

/* styles for the slide container */
.slides-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  width: 100%;
  height: 75%;
}

/* styles for each slide */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: none; /* hide the slide by default */
}

.slide.active {
  display: block; /* show the slide when the active class is added */
}

.slide-inner{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.next-btn{
  all: unset;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.next-btn::after {
  content: "\2192";
  margin-left: 0.5em;
}

.next-btn:hover{
  background-color: rgb(218, 218, 218);
}

.close-btn{
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.close-btn:hover{
  background-color: rgb(218, 218, 218);
}


.slide-inner{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.slide-inner__steps{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.step-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:25%;
  justify-content: center;
  text-align: center;
}

.step-square{
  height: 240px;
  padding: 16px;
  
}

.step-numberBox{
  width: 180px;
  height: 180px;
  background-color: #cfcfcf;
  border-radius: 50%;
  font-size: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: #FFF;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.5);
  top: 25%;
  margin-bottom: 16px;  
}

.step-text{
  margin: 16px;
}

.step--heading{
  margin-bottom: 50px;
}

.img-container{
  height: 500px;
  margin-right: 240px;
}

.squared{
  height: 250px;
  width: 250px;
}

.samples-img{
  width:auto;
  height:100%;
}

.image-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-row img {
  width: 15%;
  height: auto;
  object-fit: cover;
  margin-right: 56px;
}

@media (max-width: 1290px) {
  .step-text{
    display:none;
  }
}

@media (max-width: 680px) {
  .slide-inner__steps{
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  .step-container{
    flex-direction: row;
    width:auto;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
  }

  .step-numberBox{
    height: 75px;
    width: 75px;
    font-size: 48px;
    margin: auto;
  }

  .step-square{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 14px;
  }

  .step--heading{
    margin: auto;
  }

  .slide-inner h1{
    text-align: center;
    font-size: 24px;
  }

  .next-btn{
    margin: 15px;
    font-size: 14px;
    font-weight: 600;
  }

  .close-btn{
    margin: 15px;
  }

  .img-container{
    height: 250px;
    margin-right: auto;
  }

  .center{
    justify-content: center;
    align-items: center;
  }

  .col{
    flex-direction: column;
    padding: 0 15px;
  }

  .image-row{
    flex-wrap: wrap;
  }

  .image-row img{
    width:31%;
    margin: 5px;
    height: 55%;
  }

  .slide-inner{
    margin-top: -30px;
  }
}