html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f4f4f4;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#root {
  height: 100%;
}

/* Unchecked checkbox */
input[type="checkbox"] {
  -webkit-appearance: none; /* Remove default styling */
  -moz-appearance: none;
  appearance: none;
  border: 2px solid black; /* Set border to black */
  border-radius: 0; /* Remove border radius */
  outline: none; /* Remove outline */
  width: 25px; /* Set width of checkbox */
  height: 25px; /* Set height of checkbox */
  margin: 0; /* Remove margin */
}

/* Checked checkbox */
input[type="checkbox"]:checked:before {
  content: "\2713"; /* Unicode character for checkmark */
  display: block;
  text-align: center;
  color: black; /* Set color to black */
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.loading__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loading__text {
  margin-top: 50px;
  font-weight: bold;
}

.selectContainer {
  display: flex;
  flex-direction: row;
}

.stepContainer {
  width: 110px;
  margin: 10px;
  margin-top: 0;
}

.stepContainer > ul > li {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
  background: #fff;
}

.viewerContainer {
  height: 85%;
  width: 100%;
  cursor: grab;
}
.optionContainer {
  height: 40vh;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.listBadge {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  font-size: 12px;
  background: #002240;
  color: #fff;
  border-radius: 50%;
}

.attributeListItem {
  position: relative;
}


.listBadge::after {
  display: none;
  content: "\2713";
  position: absolute;
  top: -20px;
  right: -75px;
  color: #c82866;
  font-size: 28px;
}

.listBadge.show-after::after {
  display: block;
}

.selectHeader {
  display: flex;
  background: #002240;
  justify-content: center;
  position: relative;
}

.selectHeader--text {
  background: #002240;
  color: #fff;
}

.selectHeader--next {
  all: unset;
  color: #fff;
  position: absolute;
  right: 15px;
  top: 20px;
}

.selectHeader--prev {
  all: unset;
  color: #fff;
  position: absolute;
  left: 15px;
  top: 20px;
  cursor: pointer;
}

.selectHeader--next::after {
  content: "\2192";
  margin-left: 0.5em;
}

.selectHeader--prev::before {
  content: "\2190";
  margin-right: 0.5em;
}

.selectHeader--next:hover {
  cursor: pointer;
}

.optionItem {
  padding: 0 !important;
  margin-bottom: 10px;
  height: 120px;
  position: relative;
  flex-grow: 2;
  max-width: 100%;
}

.hidden {
  display: none !important;
}

@media (max-width: 1840px) {
  .optionItem {
    height: 100px;
  }
}

.optionText {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.optionText:hover {
  opacity: 1;
}

.optionImage {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
  margin: 0 !important;
  aspect-ratio: 1/1;
}

.currentSelectionContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  height: 25%;
  overflow-x: hidden;
  overflow-y: auto;
}

.selections-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.selection {
  width: calc(33.33% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;

}

.selection--attribute {
  font-weight: bold;
  font-size: 14px;
}

.selection--option{
  font-size: 14px;

}

.optionMain {
  background: #fff;
  margin-right: 120px;
  position: relative;
  width: 100%;
  margin-bottom: 5%;
  height: 80vh;
}

.options-unavailabletext{
  margin: -10px 0 5px 0;
  font-size: 12px;
}

.email-text {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b60040;
  color: #b60040;
  font-weight: 800;
  padding: 5px;
}

.email-text:hover {
  cursor: pointer;
}

.productBanner {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.productBanner--group{
  display: flex;
  align-items: center;
}

.productBanner--title {
  margin-left: 40px;
  text-overflow: ellipsis;
  
}

.productBanner--price {
  color: #b60040;
  margin-right: 40px;
  font-size:26px;
}

.productBanner--button {
  background: #b60040;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 0 30px;
  height: 48px;
  width: 250px;
  border-radius: 2px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 160px;
}

.productBanner--button[disabled] {
  background: #b68a99;
  cursor: not-allowed;
}

.addToCart-Loader{
  all: unset;
  position: absolute;
  top: -1000%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 400px;
  background-color: #FFF;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 8px 21px 4px rgba(0, 0, 0, 0.5);
}

.popup-trigger {
  display: none;
}

.popup-close {
  display: none;
}
.popup__title {
  display: none;
}

.popup__productName {
  display: none;
}

.popup-button {
  display: none;
}

.popup-price {
  display: none;
}

.selectHeader--center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.selectHeader--circles {
  display: none;
}

@media (max-width: 860px) {

  .addToCart-Loader{
    width: 80vw;
    height: 50vh;
    top: -300%;
  }

  .container {
    display: flex !important;
    flex-direction: column;
    padding: 0 !important;
    align-items: center;
  }

  .stepContainer {
    display: none;
  }

  .optionMain {
    margin: 0;
    height: auto;
  }

  .optionContainer > ul {
    flex-wrap: nowrap;
    overflow:visible;
    margin: 0;
    padding: 0;
    width:100%;
  }

  .optionContainer{
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 55px;
    
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .optionContainer::-webkit-scrollbar {
    width: 0 /* Hide scrollbar in Chrome, Safari and Opera */
  }

  .optionText {
    all: unset;
    position: absolute;
    top: 100%;
    opacity: 1 !important;
    margin-top: 8px;
    font-size: 14px;
  }

  .optionItem {
    width: 80px;
    height: 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .optionContainer {
    width: 100vw;
    height: auto;
  }

  .currentSelectionContainer {
    position: fixed;
    top: 50%;
    right: -400%;
    height: 100%;
    width: 75%;
    transform: translate(0, -50%);
    display: block;
    z-index: 1000; /* Place below other content */
    background-color: white;
    padding: 10px;
    box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-out, right 0.3s ease-out; /* Add a transition to the transform and right properties */
  }

  .currentSelectionContainer:target {
    right: 0;
    transform: translate(0, -50%);
  }

  .popup-trigger {
    all: unset;
    display: flex;
    gap: 10px;
    position: fixed;
    top: 30%;
    right: -65px;
    transform: rotate(-90deg) !important;
    background: #002240;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 24px 24px 0px 0px;
  }

  .popup-close {
    all: unset;
    display: block;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: xxx-large;
    z-index: 99;
  }

  .popup__title {
    display: block;
    position: absolute;
    top: 40px;
  }

  .popup__productName {
    display: block;
    position: absolute;
    top: 10%;
    left: 10px;
    margin-right: 25%;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
  }

  .popup-button {
    display: block;
    position: absolute;
    bottom: 20%;
  }

  .popup-price {
    display: block;
    position: absolute;
    bottom: 25%;
    left: 10%;
  }

  .selections-list {
    width: 100%;
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 400px;
    overflow-y: scroll;
  }

  .selection {
    width: auto;
  }

  .productBanner {
    flex-direction: column;
    overflow: visible;
    margin-bottom: 20px;
    bottom: 5px;
    height: auto;
  }

  .productBanner--title {
    font-size: 12px;
    padding: 20px;
    margin: auto;
  }

  .productBanner--price {
    margin-right: 20px;
    position: fixed;
    top:0;
    right:0;
    font-size:26px;
  }

  .productBanner--button {
    width: 250px;
    margin-right: 0;
  }

  .email-text {
    all: unset;
    position: absolute;
    bottom: 12%;
    width: 80%;
    padding: 8px 16px;
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .selectHeader {
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .selectHeader--text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    background: #fff;
  }

  .selectHeader--next {
    color: #000;
  }

  .selectHeader--prev {
    all: unset;
    display: block;
    position: absolute;
    left: 15px;
    top: 20px;
  }

  .selectHeader--prev::before {
    content: "\2190";
    margin-right: 0.5em;
  }

  .selectHeader--circles {
    display: block;
  }

  .emailPopup__container {
    width: auto !important;
    height: auto !important;
  }

  .emailer__title {
    font-size: 18px !important;
  }

  .emailer-close {
    top: 0 !important;
  }

  .emailer__loading{
    padding: 30px;
    width: 70vw;
    text-align: center;
  }
}

.emailPopup__container {
  width: 650px;
  height: 400px;
  background-color: #fff;
  box-shadow: 4px 8px 21px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailer-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 30px;
  justify-content: center;
  padding: 30px;
  text-align: center;
}

.emailer__loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emailer-check__label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 17px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #7a7a7a;
}

.emailer-check__label:hover {
  cursor: pointer;
}

.emailInput {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  width: 300px;
  height: 40px;
  border: 1px solid #002240;
}

.emailer__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 42px;
  gap: 10px;
  width: 280px;
  height: 52px;
  border: 2px solid #002240;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #002240;
  background-color: #fff;
}

.emailer__btn:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.emailer__title {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #002240;
}

.emailer-close {
  all: unset;
  display: block;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: xxx-large;
  cursor: pointer;
}

.alphaBasin-overlay{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  height: 200%;
  width:100%;
  background-color: white;
  opacity: 0.7;
  z-index: 999;
  display: flex;
  justify-content: center;
  
}

.alphaBasin-overlay--content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  opacity: 1;
  width: 50%;
  text-align: center;
}